/* Hoja de estilos */

/*colores customizados*/
:root {
    --negro:#ffffff;
    --blanco:#212121;
    --primero:#d9c47d;
    --segundo:#d2d49f;
    --tercero:#12125e;
    --cuarto:#1d558e;
    --quinto:#93afd2;
}


/* Global styles */

html {
    font-size: 62.5%;
    box-sizing: border-box; /* Para Box model */
}

*, *:before, *:after {
    box-sizing: inherit;
  }
  

body {
    font-size: 16px; /* Agregando REM 1rem = 10px */
    font-family: "Raleway", sans-serif; /*aplicando la fuente a toda la página*/
    /*background-image: linear-gradient(to top, rgb(87, 140, 151) 0%, var(--negro) 100%);  Aplicando gradiente al color de fondo */
}

/* centrar contenido */

.container {
    max-width: 120rem;
            /* top rigth bottom left */
    margin: 0 auto 0 auto;
}

.boton {
    background-color: var(--segundo);
    color: #212121;
    padding: 1rem;
    border-radius: .5rem;
    text-decoration: none;
    font-weight: 400;
    width: 30%;
    text-align: center;
}

@media (min-width: 480px) {
    .boton {
        width: auto;
    }
}

.shadow { /* Agregando sobra de CSS Generator */
    -webkit-box-shadow: 0px 4px 11px 1px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 4px 11px 1px rgba(0,0,0,0.75);
    box-shadow: 0px 4px 11px 1px rgba(0,0,0,0.75);
    padding: 2rem;
    border-radius: 0.5rem;
}

/* Tipography */
h1 {
    font-size: 3.8rem;
}

h2 {
    font-size: 2.8rem;
}

h3 {
    font-size: 1.8rem;
}

h1,h2,h3 {
    text-align: center;
}

/* titles styles */
.title span {
    font-size: 2rem;
}

/* Nav - bar styles */

.nav-bg {
    background-color: #1d558e;

}

.main-nav {
    /* padding: 1rem; */
    /* Acomodando elementos de barra de navegación */
    display: flex;
    justify-content: space-between;
}

/* Ajuste barra de navegación */
@media (max-width: 480px){
    .main-nav {
        flex-direction: column;
        align-items: center;
    }
}

.main-nav a {
    color: #ffffff;
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: 700;
    padding: .8rem;
    border-radius: .8rem;
}

.main-nav a:hover{
background-color: var(--quinto);
color: #212121;
}

/* MediaQueries */
@media (min-width: 480px) {
    body{
        /* background-color:blue; */
    }
    
}

@media (min-width: 768px){
    body {
        /* background-color: #93afd2; */
    }
}

/* Hero styles*/
.hero {
    background-image: url(../img/8e8e8bf3-9f3c-4b5b-9045-5ebb945e8aea.png);
    background-repeat: no-repeat; /* para que no se repita la imagen en pantllas grandes */
    background-size: cover; /* toma el tamaño de la pantalla */
    height: 410px;
    padding: 20px;
    position: relative;
    margin-bottom: 3rem; /* Separando la caja de main de la imagen hero */
}

.contenido-hero {
    position: absolute;
    background-color: rgb(0  0 0 / 40%);
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.contenido-hero h2,
.contenido-hero p {
   color: var(--negro) 
}

/* Services class styles */

@media (min-width: 768px) {
    .services {
        display: grid; /* Agregando propiedades de CSS Grid */
        grid-template-columns: 1fr 1fr 1fr;
    }
}

.service { /* Ajustando en columna cada servicio y centrando*/
    display: flex;
    flex-direction: column;
    align-items: center;
}

.service h3 {
    color: #1d558e;
}

.service p {
    line-height: 2; /* Ajuste de espacio entre líneas de texto */
    text-align: center;
}

.service .icons { /* Ajustando y centrando iconos y su estilo */
    height: 15rem;
    width: 15rem;
    background-color: var(--primero);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}